<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".applications.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediHealth"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.Search.SearchDrugActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.appointment.Infor_Appoitment_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.appointment.Confirm_Appointment"
            android:exported="false" />
        <activity
            android:name=".activities.appointment.Specialist"
            android:exported="false" />
        <activity
            android:name=".activities.chat.EmployeeChat_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.Employee_MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.ListEmployee"
            android:exported="false" />
        <activity
            android:name=".activities.Login"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.Profile"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.UserChat_Activity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.Splash"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.PrescriptionDetailManagement"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.EnterNewPrescriptionItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.EnterNewSchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.EditPrescriptionItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.EditSchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.prescription_schedule.DrugUserManagement"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.medihealth.activities.prescription_schedule.PrescriptionManagement" />
        <activity android:name="com.example.medihealth.activities.show_schedule_totay.ScheduleTodayDetailActivity" />
        <activity android:name="com.example.medihealth.activities.show_schedule_totay.ScheduleTodayActivity" />
        <activity android:name="com.example.medihealth.activities.show_schedule_totay.ConfirmScheduleActivity" />
        <activity android:name="com.example.medihealth.activities.show_schedule_totay.SkipScheduleActivity" />
        <activity android:name="com.example.medihealth.activities.stat.StatDayActivity" />
        <activity android:name="com.example.medihealth.activities.stat.StatHomeActivity" />
        <activity android:name="com.example.medihealth.activities.stat.StatMonthActivity" />
        <activity android:name="com.example.medihealth.activities.stat.StatWeeksActivity" />

        <service
            android:name=".notifications.FCM_Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".models.NotificationDismissReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.medihealth.ACTION_DISMISS_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.RemindService"
            android:foregroundServiceType="specialUse" />

        <receiver android:name=".receiver.RemindReceiver" />
        <receiver android:name=".receiver.SnoozeRemindReceiver" />
        <receiver
            android:name="com.example.medihealth.receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
