<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".applications.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediHealth"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitys.Profile"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.book_appointment.Infor_Activity"
            android:exported="false" />
        <activity
            android:name=".activitys.chat.Chat_Activity"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.PrescriptionManagement"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.PrescriptionDetailManagement"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.EnterNewPrescriptionItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.EnterNewSchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.EditPrescriptionItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.EditSchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.prescription_schedule.DrugUserManagement"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.Login"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="com.example.medihealth.activitys.prescription_schedule.SyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.example.medihealth.activitys.prescription_schedule.InstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.medihealth.activitys.prescription_schedule.AlarmReceiver" />
    </application>

</manifest>