<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".applications.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediHealth"
        tools:targetApi="31">
        <activity
            android:name=".activitys.profile.EditProfileRelative"
            android:exported="false"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".activitys.profile.AddRelative"
            android:exported="false"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".activitys.appointment.ConfirmAppointment"
            android:exported="false" />
        <activity
            android:name=".activitys.profile.ListProfile"
            android:exported="false" />
        <activity
            android:name=".activitys.Search.DrugDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.profile.EditProfileUser"
            android:exported="false"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".activitys.Search.SearchDrugActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activitys.appointment.Infor_Appoitment_Activity"
            android:exported="false" />
        <activity
            android:name=".activitys.chat.EmployeeChat_Activity"
            android:exported="false" />
        <activity
            android:name=".activitys.chat.Employee_MainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.chat.ListEmployee"
            android:exported="false" />
        <activity
            android:name=".activitys.Login"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activitys.profile.Profile"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.chat.UserChat_Activity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activitys.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.FCM_Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".models.NotificationDismissReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.medihealth.ACTION_DISMISS_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>